
#mainPhones {
  display: flex;
  flex-direction: column;
}

#mainPhones h2 {
  color: black;
  font-size: 28px;
  font-weight: bold;
  margin-left: 56px;
}

#containerPhones {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  max-width: 1500px;
}
